<%= form_for (user) do |f| %>
  <%= render 'layouts/error_messages' %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, disable_with: "Saving ..." %>
  </div>
  <%= f.submit submit_value, class: "btn btn-large btn-primary", disable_with: "Saving ..."  %>

  <% if user.email %>
  <div>
    <%= gravatar_for user %>
    <a href="http://gravatar.com/emails" target="_blank">change</a>
  </div>
  <% end %>
<% end %>

