<div class="round">
<%= form_for (@user) do |f| %>
  <%= render 'users/error_messages' %>
  <div class="field">
      <%= f.label :name %> <br />
      <%= f.text_field :name %>
  </div>
  <div class="field">
      <%= f.label :email %> <br />
      <%= f.text_field :email %>
  </div>
  <div class="field">
      <%= f.label :password %> <br />
      <%= f.password_field :password %>
  </div>
    <div class="field">
        <%= f.label :password_confirmation %> <br />
        <%= f.password_field :password_confirmation, :disable_with => "Saving ..." %>
    </div>
  <%= f.submit :disable_with => "Saving ..."  %>
<% end %>
</div>